@page
@model CNMaisons.Pages.PropertyDetailsModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Property Details";
}

<div class="container">
    <div class="swiper swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            @if (Model.Property.Image1 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image1)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image2 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image2)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image3 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image3)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image4 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image4)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image5 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image5)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image6 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image6)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image7 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image7)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image8 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image8)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image9 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image9)" alt="Property Image" /></div>
            }
            @if (Model.Property.Image10 != null)
            {
                <div class="swiper-slide"><img src="data:image;base64,@Convert.ToBase64String(Model.Property.Image10)" alt="Property Image" /></div>
            }
        </div>
        <div class="swiper-pagination"></div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>
    <div class="property-info">
        <div>
            <p class="prop_id"># Property ID @Model.Property.PropertyID</p>
            <p class="prop_price">@Model.Property.PropertyPrice NGN</p>
        </div>
        <div>
            <h1>@Model.Property.PropertyDescription</h1>
            <h1>@Model.Property.PropertyName</h1>
            <p class="location">@Model.Property.PropertyAddress</p>
            <div class="icons">
                <p><i class="fa-solid fa-bed"></i> @Model.Property.NumberOfRooms</p>
                <p><i class="fa-solid fa-bath"></i> 5</p>
                <p> <i class="fa-solid fa-ruler-combined"></i> 123.3sqft</p>  
            </div>
        </div>
    </div>
</div>
