@page
@model CNMaisons.Pages.ReviewModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Lease Application";
    var emailPattern = new System.Text.RegularExpressions.Regex(@"^[^\s@]+@[^\s@]+\.[^\s@]+$");

}



<script src="~/libraries/jquery/jquery.js"></script>
<script src="~/libraries/jquery-validate/jquery.validate.js"></script>
<script src="~/libraries/jquery-validate-unobtrusive/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    function copyTenantID(tenantID) {  
        document.querySelector('input[name="FindTenantID"]').value = tenantID;
    }
</script>


<form name="FindPendingApplicationForm" method="post">
    <h4>Review Lease Applications</h4>
    <div style="display: flex; align-content: center">
        <table style="border-collapse: collapse; text-align: left; width: 100%;">
            <thead>
                <tr style="border: 1px solid #ddd; background-color:black;">
                    <th style="border: 1px solid #ddd;">TenantID</th>
                    <th style="border: 1px solid #ddd;">PropertyID</th>
                    <th style="border: 1px solid #ddd;">FirstName</th>
                    <th style="border: 1px solid #ddd;">LastName</th>                 
                    <th style="border: 1px solid #ddd;">ApprovalStatus</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var record in Model.ListOfTenantsPendingReview)
                {
                    <tr>
                        <td style="border: 1px solid #ddd;"><a href="#" onclick="copyTenantID('@record.TenantID')">@record.TenantID</a></td>
                        <td style="border: 1px solid #ddd;">@record.PropertyID</td>
                        <td style="border: 1px solid #ddd;">@record.FirstName</td>
                        <td style="border: 1px solid #ddd;">@record.LastName</td>
                        <td style="border: 1px solid #ddd;">@record.ApprovalStatus</td>
                    </tr>
                }
            </tbody>
            </tr>
            <tr>
                <td>Tenant ID</td>
                <td><input type="text" name="FindTenantID" disabled /></td>
            </tr>
            <tr>
                <td><input type="submit" name="Submit" value="Find" /></td>
                <td><input type="submit" name="Submit" value="Close" /></td>
            </tr>
           
        </table>
    </div>
</form>
