@page
@model CNMaisons.Pages.TenantHomeModel
@{
    ViewData["Title"] = "Home";
}
<div class="memberhome">
    <div>
        <div class="home_intro">
            <nav class="memberhome_nav">
                <a href="~/Index"><img src="~/img/png/logo-no-background.png" width="150" class="intro_image" /></a>
                <ul>
                    <li>
                        <a href="#">My Account</a>
                    </li>
                    <li>
                        <a href="#">Record Rent</a>
                    </li>
                    <li>
                        <a href="#">Record Maintainance</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                    <li>
                        <a href="#">Edit Account</a>
                    </li>
                </ul>
            </nav>
            <div class="basic_info">
                <div class="icon_div">
        
                </div>
                <h2>@Model.Employee.FirstName @Model.Employee.LastName</h2>
                <p>@Model.Employee.Role</p>
            </div>
        </div> 
        <p class="title">Account info</p>
        <div class="infodiv transition-fade-down">
            <div class="boxcontainer ">
                <div class="box1">
                    <div>
                        <p><span>ID</span>: @Model.Employee.EmployeeID</p>
                        <p><span>Full Name</span>: @Model.Employee.FirstName @Model.Employee.LastName</p>
                        <p><span>Email</span>: @Model.Employee.Email</p>
                        <p><span>Address</span>: 124 Streen Edmonton</p>
                        <p><span>Application Status</span> Status: Pending</p>
                    </div>
                    <div class="next_rent">
                        <h3>Days Till Next Rent</h3>
                        <p>69</p>
                    </div>
                </div>
                <div class="box2">
                    <div>
                        <h3>Past Payments</h3>
                        <p>fbfhjfvjbsdvkjsnvn</p>
                        <p>fbfhjfvjbsdvkjsnvn</p>
                        <p>fbfhjfvjbsdvkjsnvn</p>
                        <p>fbfhjfvjbsdvkjsnvn</p>
                        <p>fbfhjfvjbsdvkjsnvn</p>
                        <p>fbfhjfvjbsdvkjsnvn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
