@page
@model CNMaisons.Pages.ViewFinancebyLandlordModel

@{
    ViewData["Title"] = "View Financial Report";
    var currentYear = 2024;

}

 <div>
    <div class="loggedin-pages">
        <nav class="loggedin-nav">
            <a href="~/Index"><img src="~/img/png/logo-no-background.png" width="150" class="intro_image" /></a>
            <ul class="loggedin-list">
                @if (Model.Users.Role == "LandLord")
                {
                    <li><a href="~/IndexStaff">My Account</a></li>
                    <li><a href="~/ViewTenantbyLandLord">View Tenant </a></li>
                    <li><a href="~/CreateAccount">Create New Employee Account</a></li>
                    <li><a href="~/ViewFinancebyLandlord">View Financial Report</a></li>
                }
                @if (Model.Users.Role == "Staff")
                {

                    <li>
                        <a href="~/IndexStaff">My Account</a>
                    </li>
                    <li>
                        <a href="~/IndexStaff">My Account</a>
                    </li>
                    <li>
                        <a href="~/ViewInquiry">View Inquiry </a>
                    </li>
                }
                <li class="loggedin-icon_div">
                    @if (Model.Employee.EmployeeImage != null)
                    {
                        <img src="data:image;base64,@Convert.ToBase64String(Model.Employee.EmployeeImage)" alt="Property Image" />
                    }
                    else
                    {
                        <a href="~/Index"><img src="~/img/profile_icon" width="150" class="intro_image" /></a>
                    }
                </li>
            </ul>
        </nav>
    </div>
    <div>
        <form name="ViewPayment" method="post" class="form property_form transition-fade-down">
            <div>
                <label>From Year:</label><br />
                <select name="FindStartYear" required>
                    <option value="">Select Year</option>
                    <!-- Generate options for years 2024 to 2026 (currentYear + 5) -->
                    @for (int year = currentYear; year <= (currentYear + 5); year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                <br />
                <label>To Year:</label><br />
                <select name="FindEndYear" required>
                    <option value="">Select Year</option>
                    <!-- Generate options for years 2024 to 2026 (currentYear + 5) -->
                    @for (int year = currentYear; year <= (currentYear + 5); year++)
                    {
                        <option value="@year">@year</option>
                    }
                </select>
                <br />
                <input type="submit" name="Submit" value="FindRecords" class="btn" />
                <br />
            </div>
        </form>
    </div>


    @if (Model.ViewPage == true)
    {
        <form name="ShowFincialRecord" method="post" class="form">
            <fieldset>
                <legend>Financial Records made within the selected Years</legend>
                <div style="display: flex; align-content: center">
                    <table style="border-collapse: collapse; text-align: left; width: 100%;">
                        <thead>
                            <tr style="border: 1px solid #ddd; background-color:black;">
                                <th style="border: 1px solid #ddd; color: white;">TenantID</th>
                                <th style="border: 1px solid #ddd; color: white;">PropertyID</th>
                                <th style="border: 1px solid #ddd; color: white;">Date of Record</th>
                                <th style="border: 1px solid #ddd; color: white;">Amount Paid</th>
                                <th style="border: 1px solid #ddd; color: white;">Pay Period</th>
                                <th style="border: 1px solid #ddd; color: white;">Next Due Date</th>
                                <th style="border: 1px solid #ddd; color: white;">Date of Payment</th>
                                <th style="border: 1px solid #ddd; color: white;">Method of Payment</th>
                                <th style="border: 1px solid #ddd; color: white;">Tenant Payment Bank</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.FinancialRecordList)
                            {
                                <tr>
                                    <td style="border: 1px solid #ddd;">@record.TenantID</td>
                                    <td style="border: 1px solid #ddd;">@record.PropertyID</td>
                                    <td style="border: 1px solid #ddd;">@record.DateOfRecord.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.AmountPaid.ToString("0.00")</td>
                                    <td style="border: 1px solid #ddd;">@record.PaymentStartMonth (@record.PaymentStartYear) - @record.PaymentEndMonth</td>
                                    <td style="border: 1px solid #ddd;">@record.NextDueDate.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.DateOfTenantsPayment.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.MethodOfPayment</td>
                                    <td style="border: 1px solid #ddd;">@record.TenantPaymentBank</td>
                                </tr>
                            }
                        </tbody>

                        <tr>
                            <td><input type="submit" name="Submit" value="Close" class="btn" /></td>
                        </tr>
                    </table>
                </div>
            </fieldset>


            <fieldset>
                <legend>Financial Records Due within 3 Months</legend>
                <div style="display: flex; align-content: center">
                    <table style="border-collapse: collapse; text-align: left; width: 100%;">
                        <thead>
                            <tr style="border: 1px solid #ddd; background-color:black;">
                                <th style="border: 1px solid #ddd; color: white;">TenantID</th>
                                <th style="border: 1px solid #ddd; color: white;">PropertyID</th>
                                <th style="border: 1px solid #ddd; color: white;">Date of Record</th>
                                <th style="border: 1px solid #ddd; color: white;">Amount Paid</th>
                                <th style="border: 1px solid #ddd; color: white;">Pay Period</th>
                                <th style="border: 1px solid #ddd; color: white;">Next Due Date</th>
                                <th style="border: 1px solid #ddd; color: white;">Date of Payment</th>
                                <th style="border: 1px solid #ddd; color: white;">Method of Payment</th>
                                <th style="border: 1px solid #ddd; color: white;">Tenant Payment Bank</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.FinancialRecordDSueThreeMonthsList)
                            {
                                <tr>
                                    <td style="border: 1px solid #ddd;">@record.TenantID</td>
                                    <td style="border: 1px solid #ddd;">@record.PropertyID</td>
                                    <td style="border: 1px solid #ddd;">@record.DateOfRecord.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.AmountPaid.ToString("0.00")</td>
                                    <td style="border: 1px solid #ddd;">@record.PaymentStartMonth (@record.PaymentStartYear) - @record.PaymentEndMonth</td>
                                    <td style="border: 1px solid #ddd;">@record.NextDueDate.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.DateOfTenantsPayment.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.MethodOfPayment</td>
                                    <td style="border: 1px solid #ddd;">@record.TenantPaymentBank</td>
                                </tr>
                            }
                        </tbody>

                        <tr>
                            <td><input type="submit" name="Submit" value="Close" class="btn" /></td>
                        </tr>
                    </table>
                </div>
            </fieldset>

            <fieldset>
                <legend>Financial Records Due within 6 Months</legend>
                <div style="display: flex; align-content: center">
                    <table style="border-collapse: collapse; text-align: left; width: 100%;">
                        <thead>
                            <tr style="border: 1px solid #ddd; background-color:black;">
                                <th style="border: 1px solid #ddd; color: white;">TenantID</th>
                                <th style="border: 1px solid #ddd; color: white;">PropertyID</th>
                                <th style="border: 1px solid #ddd; color: white;">Date of Record</th>
                                <th style="border: 1px solid #ddd; color: white;">Amount Paid</th>
                                <th style="border: 1px solid #ddd; color: white;">Pay Period</th>
                                <th style="border: 1px solid #ddd; color: white;">Next Due Date</th>
                                <th style="border: 1px solid #ddd; color: white;">Date of Payment</th>
                                <th style="border: 1px solid #ddd; color: white;">Method of Payment</th>
                                <th style="border: 1px solid #ddd; color: white;">Tenant Payment Bank</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var record in Model.FinancialRecordDSueSixMonthsList)
                            {
                                <tr>
                                    <td style="border: 1px solid #ddd;">@record.TenantID</td>
                                    <td style="border: 1px solid #ddd;">@record.PropertyID</td>
                                    <td style="border: 1px solid #ddd;">@record.DateOfRecord.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.AmountPaid.ToString("0.00")</td>
                                    <td style="border: 1px solid #ddd;">@record.PaymentStartMonth (@record.PaymentStartYear) - @record.PaymentEndMonth</td>
                                    <td style="border: 1px solid #ddd;">@record.NextDueDate.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.DateOfTenantsPayment.ToString("dd MMM yyyy")</td>
                                    <td style="border: 1px solid #ddd;">@record.MethodOfPayment</td>
                                    <td style="border: 1px solid #ddd;">@record.TenantPaymentBank</td>
                                </tr>
                            }
                        </tbody>

                        <tr>
                            <td><input type="submit" name="Submit" value="Close" class="btn" /></td>
                        </tr>
                    </table>
                </div>
            </fieldset>

        </form>
    }
 </div>
