@page
@model CNMaisons.Pages.ViewRentsDueModel
@{
    Layout = "_Header";
    ViewData["Title"] = "Book Property Vist";
    var currentYear = DateTime.Now.Year;

}

<form name="ShowFincialRecord" method="get">
     

    <fieldset>
        <legend>Financial Records Due within 3 Months</legend>
        <div style="display: flex; align-content: center">
            <table style="border-collapse: collapse; text-align: left; width: 100%;">
                <thead>
                    <tr style="border: 1px solid #ddd; background-color:black;">
                        <th style="border: 1px solid #ddd; color: white;">PaymentID</th>
                        <th style="border: 1px solid #ddd; color: white;">TenantID</th>
                        <th style="border: 1px solid #ddd; color: white;">PropertyID</th>
                        <th style="border: 1px solid #ddd; color: white;">Date of Record</th>
                        <th style="border: 1px solid #ddd; color: white;">Amount Paid</th>
                        <th style="border: 1px solid #ddd; color: white;">Payment Start Month</th>
                        <th style="border: 1px solid #ddd; color: white;">Payment End Month</th>
                        <th style="border: 1px solid #ddd; color: white;">Payment Start Year</th>
                        <th style="border: 1px solid #ddd; color: white;">Months Paid For</th>
                        <th style="border: 1px solid #ddd; color: white;">Next Due Month</th>
                        <th style="border: 1px solid #ddd; color: white;">Next Due Year</th>
                        <th style="border: 1px solid #ddd; color: white;">Next Due Date</th>
                        <th style="border: 1px solid #ddd; color: white;">Date of Tenants Payment</th>
                        <th style="border: 1px solid #ddd; color: white;">Method of Payment</th>
                        <th style="border: 1px solid #ddd; color: white;">Tenant Payment Bank</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.FinancialRecordDSueThreeMonthsList)
                    {
                        <tr>
                            <td style="border: 1px solid #ddd;">@record.PaymentID</td>
                            <td style="border: 1px solid #ddd;">@record.TenantID</td>
                            <td style="border: 1px solid #ddd;">@record.PropertyID</td>
                            <td style="border: 1px solid #ddd;">@record.DateOfRecord</td>
                            <td style="border: 1px solid #ddd;">@record.AmountPaid</td>
                            <td style="border: 1px solid #ddd;">@record.PaymentStartMonth</td>
                            <td style="border: 1px solid #ddd;">@record.PaymentEndMonth</td>
                            <td style="border: 1px solid #ddd;">@record.PaymentStartYear</td>
                            <td style="border: 1px solid #ddd;">@record.MonthsPaidFor</td>
                            <td style="border: 1px solid #ddd;">@record.NextDueMonth</td>
                            <td style="border: 1px solid #ddd;">@record.NextDueYear</td>
                            <td style="border: 1px solid #ddd;">@record.NextDueDate</td>
                            <td style="border: 1px solid #ddd;">@record.DateOfTenantsPayment</td>
                            <td style="border: 1px solid #ddd;">@record.MethodOfPayment</td>
                            <td style="border: 1px solid #ddd;">@record.TenantPaymentBank</td>
                        </tr>
                    }
                </tbody>

                <tr>
                    <td><input type="submit" name="Submit" value="Close" class="btn" /></td>
                </tr>
            </table>
        </div>
    </fieldset>





    <fieldset>
        <legend>Financial Records Due within 6 Months</legend>
        <div style="display: flex; align-content: center">
            <table style="border-collapse: collapse; text-align: left; width: 100%;">
                <thead>
                    <tr style="border: 1px solid #ddd; background-color:black;">
                        <th style="border: 1px solid #ddd; color: white;">PaymentID</th>
                        <th style="border: 1px solid #ddd; color: white;">TenantID</th>
                        <th style="border: 1px solid #ddd; color: white;">PropertyID</th>
                        <th style="border: 1px solid #ddd; color: white;">Date of Record</th>
                        <th style="border: 1px solid #ddd; color: white;">Amount Paid</th>
                        <th style="border: 1px solid #ddd; color: white;">Payment Start Month</th>
                        <th style="border: 1px solid #ddd; color: white;">Payment End Month</th>
                        <th style="border: 1px solid #ddd; color: white;">Payment Start Year</th>
                        <th style="border: 1px solid #ddd; color: white;">Months Paid For</th>
                        <th style="border: 1px solid #ddd; color: white;">Next Due Month</th>
                        <th style="border: 1px solid #ddd; color: white;">Next Due Year</th>
                        <th style="border: 1px solid #ddd; color: white;">Next Due Date</th>
                        <th style="border: 1px solid #ddd; color: white;">Date of Tenants Payment</th>
                        <th style="border: 1px solid #ddd; color: white;">Method of Payment</th>
                        <th style="border: 1px solid #ddd; color: white;">Tenant Payment Bank</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var record in Model.FinancialRecordDSueSixMonthsList)
                    {
                        <tr>
                            <td style="border: 1px solid #ddd;">@record.PaymentID</td>
                            <td style="border: 1px solid #ddd;">@record.TenantID</td>
                            <td style="border: 1px solid #ddd;">@record.PropertyID</td>
                            <td style="border: 1px solid #ddd;">@record.DateOfRecord</td>
                            <td style="border: 1px solid #ddd;">@record.AmountPaid</td>
                            <td style="border: 1px solid #ddd;">@record.PaymentStartMonth</td>
                            <td style="border: 1px solid #ddd;">@record.PaymentEndMonth</td>
                            <td style="border: 1px solid #ddd;">@record.PaymentStartYear</td>
                            <td style="border: 1px solid #ddd;">@record.MonthsPaidFor</td>
                            <td style="border: 1px solid #ddd;">@record.NextDueMonth</td>
                            <td style="border: 1px solid #ddd;">@record.NextDueYear</td>
                            <td style="border: 1px solid #ddd;">@record.NextDueDate</td>
                            <td style="border: 1px solid #ddd;">@record.DateOfTenantsPayment</td>
                            <td style="border: 1px solid #ddd;">@record.MethodOfPayment</td>
                            <td style="border: 1px solid #ddd;">@record.TenantPaymentBank</td>
                        </tr>
                    }
                </tbody>

                <tr>
                    <td><input type="submit" name="Submit" value="Close" class="btn" /></td>
                </tr>
            </table>
        </div>
    </fieldset>
</form>